.sidebar-container {
  width: 20%;
  border-right: 2px solid skyblue;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.sidebar-button-container {
  text-decoration: none;
  width: 80%;
}

.sidebar-button-container:hover {
  width: 83%;
}

.sidebar-button-container:active {
  width: 85%;
  color: lightgray;
}