.sidebarbutton-container {
  width: 80%;
  height: 3em;
  line-height: 3;
  text-align: center;
  font-family: 'Open Sans';
  font-size: 1.8em;
  color: skyblue;
  border: 2px solid skyblue;
  border-radius: 0.4em;
  margin-top: 1em;
  cursor: pointer;
}

.sidebarbutton-container:hover {
  width: 83%;
}